/*#3066be #119da4 #6d9dc5 #80ded9 #aeecef*/
*{
    margin:0px;
    padding:0px;
}
body{
    max-width: 100%;
    background-color: #caecef;
}
header{
    text-align: center;
    color: #bed8da;
    background-color: #213448;
    padding-top: 30px;
    padding-bottom: 30px;
    width:100%;
}
header h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:52px;
}
nav{
    text-align: center;
    background-color: #80a7c5;
    padding-top: 7px;
    padding-bottom: 7px;
    width:100%;
}
nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: center;
    list-style: none;
}
nav ul li a{
    color:#213448;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 22px;
    margin-left: 25px;
    margin-right: 25px;
    text-decoration: none;
    font-weight: 500;
}
main{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom:70px;
    padding-top:10px;
}
.linhas{
    display: flex;
    flex-flow: row wrap;
    width:100%;
}
.barraLateral{
    flex:1;
    border-radius: 15px;
    background-color: #b2ceda;
    margin:10px;
    padding:15px;
    display: flex;
    flex-direction: column;
}
main div section{
    flex:2;
    border-radius: 15px;
    background-color: #b2ceda;
    margin:10px;
    padding:15px;
    display: flex;
    flex-direction: column;
}
.centro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-justify: center;
    margin-top: auto;
    margin-bottom: auto;
    flex-grow: 1;
}
main h2{
    padding:20px;
    padding-top:10px;
    padding-bottom: 0px;;
    font-size:48px;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}
.texto{
    font-size:24px;
    padding:20px;
}
#idDireitos{
    width:50%;
    border-radius: 25px;
    align-self:center;
    margin:25px;
    height: auto;
    max-width: 500px;
}
#idGrupos{
    width:80%;
    border-radius: 25px;
    align-self:center;
    margin:15px;
    height: auto;
    max-width: 500px;
    display: block;
    border: 3px #8198af;
    border-style: solid;
}
#idQuadrado{
    width:30%;
    border-radius: 25px;
    align-self:center;
    margin:25px;
    height: auto;
    max-width: 300px;
}
#idImagem{
    width:80%;
    align-self:center;
    justify-self: center ;
    margin: 15px;
    height: 350px;
    height: auto;
    max-width: 300px;
}
@media(max-width:  768px){
    .linhas{
        flex-direction: column;
    }
    nav ul{
        flex-direction: column;
    }
    #idDireitos{
        width: 80%;
    }
    #idQuadrado{
        width: 80%;
    }
    #idConvencao{
        order: -1;
    }
}
#idLink{
    align-self: center;
    font-size: 24px;
    margin:0px;
    margin-bottom: 60px;
}
#idBotao{
    background-color: rgb(88, 109, 129);
    color: #d9f7fa;
    padding: 15px;
    font-size: 22px;
    border-radius: 5px;
    margin:0px;
    
}
#idBotao:hover{
    cursor: pointer;
}
footer{
    text-align: center;
    background-color: #213448;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width:100%;
    padding-top: 10px;
    padding-bottom: 10px;
    color:#213448;
}
footer h2{
    color: #bed8da;
}

